{% load i18n crispy_forms_tags %}
<div class="modal-dialog" role="document">
  <form method="post" id="cveform" action="{{action}}">
    {% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	{{ form|crispy }}
      </div>
      <div class="modal-footer text-right">
        <a href="#" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</a>
        <input class="btn btn-primary" type='submit' value='{% trans "Submit" %}' />
      </div>
    </div>
  </form>
</div>

