{% extends CVDP_BASE_TEMPLATE %}{% load i18n %}
<!-- site-title  -->
{% block cvdp_title %}{% trans "Advisory" %}{% endblock %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block content %}
{% load widget_tweaks crispy_forms_tags %}

<div class="container-xxl flex-grow-1 container-p-y">
  {% url 'cvdp:case' case.case_id as bread_url %}
  {% include 'cvdp/include/top_panel.html' with title="Advisory" breadcrumbs="Cases" secondcrumbs=case.caseid %}

  <div id="app" caseid="{{case.case_id}}"></div>
  
</div>
{% render_bundle 'advisory' %}
{% endblock %}
  
  
  
