{% extends CVDP_BASE_TEMPLATE %}{% load i18n %}
<!-- site-title  -->
{% load render_bundle from webpack_loader %}
{% block cvdp_title %}{% trans "Case" %}{% endblock %}
{% load static %}
{% block js %}
{{ block.super }}
{% endblock %}
{% block content %}
{% load widget_tweaks %}

<div class="container-xxl flex-grow-1 container-p-y">
  {% url '#' as button_url %}
  {% include 'cvdp/include/top_panel.html' with title=object.get_title breadcrumbs="Cases" button_text="Private Message Coordinators" %}

  {% if show_vul_policy and case.team_owner.coordinatorsettings.disclosure_link %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <h5>Reminder!</h5>
    <p class="mb-4">The coordination of this case is subject to our <a href="{{ case.team_owner.coordinatorsettings.disclosure_link }}" target="_blank" rel="noopener">Vulnerability Disclosure Policy.</a>
    </p>
    <a href="javascript:;" data-bs-dismiss="alert" class="btn btn-sm btn-outline-primary">Got it!</a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  <div id="quilljs" caseid="{{ case.case_id }}"></div>
  
</div>

{% render_bundle 'main' %}
{% endblock %}
