{% extends CVDP_BASE_TEMPLATE %}
{% load i18n user_tags crispy_forms_tags %}
<!-- site-title  -->
{% load render_bundle from webpack_loader %}
{% block cvdp_title %}{% trans "Dashboard" %}{% endblock %}
{% load static %}
{% block content %}
{% load widget_tweaks %}

<div class="container-xxl flex-grow-1 container-p-y">

  {% for message in messages %}
  {% if message.tags == "error" %}
  <div class="alert alert-danger">{{ message }}</div>
  {% else %}
  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endif %}
  {% endfor %}
  
  <div id="app"></div>
</div>

{% render_bundle 'dashboardapp' %}
{% endblock %}
