{% extends CVDP_BASE_TEMPLATE %}{% load i18n %}
<!-- site-title  -->
{% block cvdp_title %}{% trans "Inbox" %}{% endblock %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block content %}
{% load widget_tweaks crispy_forms_tags %}

<div class="container-xxl flex-grow-1 container-p-y">

  {% include 'cvdp/include/top_panel.html' with button_text="Send Message" title=user.screen_name breadcrumbs="Inbox" %}

  <div id="app" {% if user.is_coordinator %}val="coord"{% else %}val="user"{% endif %}></div>
  {% if contact and user.is_coordinator %}
  <div id="contact" val="{{ contact }}"></div>
  {% endif %}
</div>
{% render_bundle 'inbox' %}
{% endblock %}
  
  
  
