<!DOCTYPE html>
{% load static %}
<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'cvdp/vendor/fonts/boxicons.css' %}" />


    <!-- Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'cvdp/css/fontawesome/all.css' %}" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'cvdp/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'cvdp/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'cvdp/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'cvdp/css/bt_style.css' %}" />


    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'cvdp/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'cvdp/vendor/css/pages/page-auth.css' %}" />
    <!-- Helpers -->
    {% block js %}
    <script src="{% static 'cvdp/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'cvdp/js/config.js' %}"></script>
    {% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}

  </head>

  <body>
    <!-- Content -->

    <div class="container-xxl">
      {% block authwidth %}
      <div class="authentication-wrapper authentication-basic container-p-y">
	{% endblock %}
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
	      {% block branding %}
              <div class="app-brand justify-content-center">
                <a href="#" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">		    
		    <img src="{% static 'cvdp/css/images/CVDP.png' %}">
                  </span>
                </a>
              </div>
	      {% endblock %}
	      {% block content %}
	      
	      {% endblock %}
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'cvdp/vendor/js/bootstrap.js' %}"></script>
    <!--<script src="{% static 'cvdp/vendor/libs/popper/popper.js' %}"></script>-->
    <script src="{% static 'cvdp/vendor/js/menu.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'cvdp/js/main.js' %}"></script>

    <!-- Page JS -->

  </body>
</html>
