{% extends "cvdp/login.html" %}
{% load i18n static %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'cvdp/js/jquery.min.js' %}"></script>
{% endblock %}

{% block content_title %}<div class="row column"><h2>Logged out</h2></div>{% endblock %}

{% block content %}
<!-- /Logo -->
<h4 class="mb-5 text-center">See you again soon.</h4>
<div class="mb-4">

  <a class="btn btn-primary d-grid w-100" href="{% url 'authapp:login' %}">{% trans 'Log in' %}</a>
</div>

{% endblock %}


