{% extends "cvdp/login.html" %}

{% load i18n static crispy_forms_tags %}

{% block content_title %}<h3>AdVISE Provider Password Reset</h3>{% endblock %}


{% block content %}

<p>Use this form to change your password or go back <a href="{% url 'provider:welcome' %}">home</a>.</p>

  <form action="." method="post" class="form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="mt-2">
      <input type="submit" class="btn btn-primary w-100 d-grid" value="Submit">
    </div>
  </form>

{% endblock %}
