{% extends "cvdp/login.html" %}

{% load i18n static crispy_forms_tags %}

{% block content_title %}<h3>Password Reset in Progress</h3>{% endblock %}

{% block content %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
  <div class="mb-3">
    <a href="{% url 'login' %}" class="btn btn-primary d-grid w-100">Login</a>
  </div>

{% endblock %}
