{% extends 'cvdp/login.html' %}
{% load i18n static crispy_forms_tags widget_tweaks%}
{% load allauth %}

{% block head_title %}
    {% trans "Confirm Access" %}
{% endblock head_title %}

{% load i18n %}
{% block content %}
<h2 class="text-center">
  {% trans "Confirm Access" %}
</h2>
<p>{% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}</p>

    <p>{% blocktranslate %}Enter your password:{% endblocktranslate %}</p>
    {% url 'account_reauthenticate' as action_url %}
    <form method="post" action={{action_url}}>
      {% csrf_token %}
      {{ form | crispy }}
      {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary d-grid w-100" type="submit">
	{% trans 'Confirm' %}
      </button>
    
    </form>
{% endblock %}

